.check-email-container { 
    padding: 50px 40px; 
    display: flex;
    justify-content: center;
}

.check-email-header { 
    display: flex; 
    align-items: center;
    margin: 20px 0;    
}

.check-email-header h1 {
    font-size: 34px;
    color: #3282B8;
    margin: 0 15px;
}

.check-email-header i {
    font-size: 34px;
    color: #0F4C75;
}

.sentEmail, .input-list p {
    font-size: 18px;
    color: #1b262c9e;
    margin: 12px 0;
}

.input-list-container h1 {
    font-size: 30px;
    color: #0F4C75;
    margin: 10px 0;
}

.check-email-change { 
    display: flex;
    margin: 10px 0;
}

.check-email-change input {
    padding: 12px 15px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #555;
    font-weight: 550;
    border-radius: 12px 0 0 12px;
}

.check-email-change button {
    background: #3282B8;
    padding: 12px 15px;
    color: #FFFFFF;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
    transition: .2s all;
}

.check-email-change button:hover { background: #0F4C75; }

.check-email-link-help { 
    color: #3282B8;
    text-decoration: none;
    cursor: pointer;
    transition: .2s all;
}

.check-email-link-help:hover { color: #0F4C75; }

@media only screen and (max-width: 600px) {
    .check-email-container { padding: 20px }
    .sentEmail, .input-list p, .check-email-change input, .check-email-change button { font-size: 15px; }
    .check-email-header { justify-content: center; }
    .check-email-header h1, .check-email-header i { font-size: 26px; }
    .input-list-container h1 { font-size: 24px }
}

@media only screen and (max-width: 400px) { 
    .check-email-container { padding: 10px; }
    .check-email-change input, .check-email-change button { width: 50%; }
}