.messages-container { padding: 40px; }

.inbox { 
    position: relative;
    display: flex; 
    height: 80vh;
    background: #1B262C;
}

.thereAreNoContact {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.recent-messages {
    background: #1B262C;
    width: 30%;
    height: 100%;
    border-radius: 8px 0 0 8px;
    border-right: 1px solid #38454d;
    transition: .8s all ease-in-out;
    z-index: 5;
}

.recent-message {
    padding: 25px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.message-watching, .recent-message:hover { background: #38454d; }

.user-connection {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2c373d;
}

.connected-user { background: #009b1a; }

.brief-information {
    margin: 0 16px; 
    width: 80%;
}

.message-name-and-time h2 { color: #ffffff; }
.short-paragrahp { color: #CCCCCC; }
.message-name-and-time p { color: #AAAAAA; }

.message-name-and-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message {
    background: #2c373d;
    width: 70%;
    height: 100%;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-header {
    background: #1B262C;
    width: 100%;
    height: 12%;
    border-radius: 0 8px 0 0;
    padding: 14px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-header-main { 
    display: flex; 
    align-items: center;
}

.message-header-main i {
    color: #FFFFFF;
    font-size: 28px;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s all ease-in;
}

.message-header-main i:hover { 
    color: #eee; 
    transform: scale(1.05);
}

.message-header-title {
    color: #FFFFFF;
    font-size: 30px;
}

.message-header-icon i {
    color: #FFFFFF;
    font-size: 26px;
    padding: 0 10px;
    cursor: pointer;
    border-right: 1px solid #38454d;
}

.message-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 73%;
    text-align: center;
}

.message-date {
    display: inline-block;
    text-align: center;
    padding: 6px 10px;
    background: #1B262C;
    border-radius: 40px;
    font-size: 18px;
    color: #FFFFFF;
    margin: 30px 0;
}

.messages {
    padding: 30px;
    max-height: 100%;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.messages-by-date div {
    text-align: initial;
    margin: 15px 0;
    width: 100%;
}

.messages-by-date div p {
    color: #FFFFFF;
    width: 55%;
    padding: 20px;
    border-radius: 8px;
}

.user-one p { background: #38454d; }
.user-two p { background: #1B262C; }

.user-two { 
    display: flex; 
    justify-content: flex-end;
}

.send-message {
    background: #1B262C;
    width: 100%;
    height: 15%;
    border-radius: 0 0 8px 0;
    padding: 14px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#input-message {
    width: 95%;
    border: none;
    outline: none;
    padding: 12px 24px;
    font-size: 16px;
    color: #444;
    background: #ffffff;
    border-radius: 40px;
}

#send-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 0 20px;
    background: #3282B8;
    cursor: pointer;
    transition: .4s all ease-in-out;
}

#send-message:hover { background: #27658f; }

#send-message i {
    color: #FFFFFF;
    font-size: 18px;
}

.message-blocked {
    background: #1B262C;
    width: 100%;
    height: 15%;
    border-radius: 0 0 8px 0;
    padding: 14px 30px;
    display: flex;
    align-items: center;
}

.message-blocked i, .message-blocked p {
    font-size: 20px;
    color: #AAAAAA;
    margin: 0 10px;
}

@media only screen and (max-width: 1350px) { .message-name-and-time p { display: none; }}
@media only screen and (max-width: 1160px) { 
    .messages-container { padding: 20px; }
    .short-paragrahp { font-size: 14px; }
    .message-name-and-time h2 { font-size: 20px; }
    .messages-by-date div p { width: 70%; }
}
@media only screen and (max-width: 1050px) {
    .recent-messages { width: 35%; }
    .message { width: 65%; }
    .messages-by-date div p { width: 80%; }
}

@media only screen and (max-width: 900px) {
    .messages-container { padding: 10px; }
    .recent-message { padding: 18px 8px; }
    .recent-messages { width: 40%; }
    .message { width: 60%; }
    .messages-by-date div p { 
        width: 90%; 
        font-size: 15px;
    }
}

@media only screen and (max-width: 700px) {
    .message { width: 100%; }
    .recent-messages { 
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .messages-container { padding: 0; }
    .short-paragrahp { font-size: 15px; }
    .message-name-and-time h2 { font-size: 25px; }
    .recent-message { padding: 25px 20px; }
    .message-header { padding: 8px 10px; }
}

@media only screen and (max-width: 500px) {
    #send-message { margin: 0 5px; }
    .send-message { padding: 8px 10px; }
    .message-header i { font-size: 22px; }
    .message-header-title { font-size: 22px; }
    .short-paragrahp { font-size: 14px; }
    .message-name-and-time h2 { font-size: 20px; }
    .recent-message { padding: 18px 8px; }
}