.notifications-container { padding: 20px 40px; }
.notifications { width: 100%; }

.thereAreNoNotifications {
    font-size: 34px;
    color: #3282B8;
    text-align: center;
    margin: 10px 0;
}

.notification-title {
    font-size: 34px;
    color: #3282B8;
    margin: 10px 0;
}

.notification-padding { padding: 0 30px; }

.notification-section { 
    background: #FFFFFF;
    min-width: 100%; 
    padding: 4px 20px;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-header-title, .notification-header-title h2 {
    color: #3282B8;
    font-size: 28px;
    transition: .2s all ease-in-out;
}

.notification-header-title-admin {
    font-size: 28px;
    color: #666666;
}

.notification-header-title:hover, .notification-header-title h2:hover { color: #1B262C; }
.notification-header h4 { font-size: 25px; color: #AAAAAA; }
.notification-header p { font-size: 20px; color: #AAAAAA; }

.notification-section hr { margin: 14px 0; }

.notification-body { padding: 5px 10px; }

.notification-body p { 
    color: #AAAAAA; 
    font-size: 20px;
    overflow-wrap: break-word;
}


.notification-pictures-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.notification-pictures-container img {
    margin: 6px;
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
}

@media only screen and (max-width: 800px){
    .thereAreNoNotifications, .notification-title, .notification-header-title, .notification-header-title h2, .notification-header-title-admin { font-size: 24px; }
    .notifications-container { padding: 20px; }
    .notification-header h4 { font-size: 22px; color: #AAAAAA; }
    .notification-header p { font-size: 16px; color: #AAAAAA; }
    .notification-body p { font-size: 16px; }
}

@media only screen and (max-width: 650px) {
    .notifications-container { padding: 20px; }
    .notification-padding { padding: 5px 0; }
    .notification-header { 
        flex-direction: column; 
        justify-content: initial;
        align-items: initial;
    }
    .thereAreNoNotifications, .notification-title, .notification-header-title, .notification-header-title h2, .notification-header-title-admin { font-size: 20px; }
    .notification-header h4 { font-size: 20px; color: #AAAAAA; }
    .notification-header p { font-size: 15px; color: #AAAAAA; }
    .notification-body p { font-size: 15px; }
}