.information-card-content { 
    margin: 25px 0; 
    padding: 25px;
    background: #FFFFFF;
    border-radius: 16px;
}

.information-card-content h1 {
    color: #3282B8;
    font-size: 30px;
}

.information-card-content p {
    margin-top: 5px;
    color: #888888;
    font-size: 16px;
    padding: 0 30px;
    text-align: justify;
}

.information-card-content ul { margin: 20px 25px; }

.information-card-content ul li { 
    color: #888888;
    font-size: 16px; 
}

.helpInformation-container { height: auto; }

.helpInformation-sections-container { 
    height: 91vh; 
    position: sticky;
    top: 65px;
}

@media only screen and (max-width: 900px) {
    .information-card-content h1 { font-size: 20px; }
    
    .information-card-content p {
        font-size: 14px;
        padding: 0 20px;
    }

    .information-card-content ul li { font-size: 14px; }
}

@media only screen and (max-width: 600px) {
    .helpInformation-sections-container {
        position: fixed;
        width: 100%;
    }
    .information-card-content p { padding: 0 8px; }
}