.simple-payu-form-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #1B262C77;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: appearPayuFormContainer .6s forwards ease-in-out;
	z-index: 100;
}

@keyframes appearPayuFormContainer {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.simple-payu-form { 
	width: 480px;
	max-height: 90vh;
	overflow: auto; 
	background: #FFFFFF;
	border-radius: 10px;
}

.simple-payu-card-header {
	padding: 16px 24px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.simple-payu-card-header-title {
	font-size: 24px;
	color: #666666;
}

.simple-payu-form-exit-button {
	border: none;
	outline: none;
	background: transparent;
	display: inline-block;
	cursor: pointer;
	padding: 0;
}

.simple-payu-form-exit-button i {
	font-size: 30px;
	color: #444444;
	transition: .3s all ease-in-out;
}

.simple-payu-form-exit-button i:hover,
.back-simple-payu-card-body-selection:hover { 
	color: #666666; 
	transform: scale(1.01);
}

.simple-payu-card-header-amount-total {
	color: #666666;
	font-size: 20px;
}

.simple-payu-card-header-amount span,
.simple-payu-card-header-amount-iva span,
.simple-payu-card-header-amount-total span { color: #3282B8; }

.simple-payu-card-header-amount-iva, 
.simple-payu-card-header-amount {
	color: #666666;
	font-size: 18px;
}

.simple-payu-card-body {
	padding: 16px;
	width: 100%;
}

.simple-payu-card-body-selection { animation: appearsimplePayuCardBodySelection .8s forwards ease-in-out; }

.payu-not-yet {
	background: #F4F4F4;
	margin: 10px 0;
	padding: 10px 0;
	border-radius: 40px;
	text-align: center;
	cursor: pointer;
	font-size: 20px; 
	color: #555555;
	transition: .2s all ease-in-out;
}

@keyframes appearsimplePayuCardBodySelection {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.simple-payu-card-body-selection-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
}

.back-simple-payu-card-body-selection {
	font-size: 28px;
	color: #444444;
	cursor: pointer;
	transition: all .2s ease-in-put;
}

.simple-payu-card-body-selection-title {
	font-size: 24px;
	color: #3282B8;
	text-align: center;
	margin: 6px 0;
}

.payu-selection-zone-container { margin: 20px 0; }

.payu-selection-zone {
	margin: 8px 0;
	width: 100%;
	background: #F4F4F4;
	padding: 8px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 40px;
	cursor: pointer;
	transition: .3s all ease-in-out;
}

.payu-selection-zone:hover, .payu-not-yet:hover {
	background: #EEEEEE;
	transform: scale(1.01); 
    box-shadow: 0px 6px 12px #bbbbbbaa;
}

.payu-selection-zone:active, .payu-not-yet:active {
	background: #EEEEEE;
	transform: scale(1.03); 
    box-shadow: 0px 10px 12px #bbbbbbaa;
}

.payu-selection-zone img { width: 50px; }

.payu-selection-zone p { 
	font-size: 20px; 
	color: #555555;
}

.simple-payu-form-control {
	width: 100%;
	margin: 10px 0;
	padding: 5px;
}

.simple-payu-form-control p {
	font-size: 17px;
	color: #666666;
	margin: 4px 0;
}

.simple-payu-form-control p b { color: #444444; }

.simple-payu-form-control input, 
.simple-payu-form-control select,
.pay-service-simple-payu {
	width: 100%;
	border: none;
	outline: none;
	border-radius: 40px;
	background: #F4F4F4;
	color: #555555;
	padding: 6px 12px;
	font-size: 18px;
	transition: .2s all ease-in-out;
}

.simple-payu-form-control input:hover { background: #EEEEEE; }
.simple-payu-form-control select, 
.pay-service-simple-payu { 
	background: #3282B8; 
	color: #FFFFFF;
	cursor: pointer;
	margin: 5px 0;
}

.simple-payu-form-control select option { color: #FFFFFF; }
.simple-payu-form-control select:hover, 
.simple-payu-form-control select:focus,
.pay-service-simple-payu:hover,
.pay-service-simple-payu:focus { background: #1B262C; }

.simple-payu-form-due-date, .simple-payu-form-phone-number {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.terms_and_conditions-simple-payu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.terms_and_conditions-simple-payu p {
	font-size: 17px;
	color: #666666;
}

.terms_and_conditions-simple-payu p a { 
	color: #3282B8; 
	cursor: pointer;
}

.accept-terms_and_conditions-form-simple-payu {
	border-radius: 50%;
	height: 25px;
	width: 25px;
	min-width: 25px;
	min-height: 25px;
	outline: none;
	cursor: pointer;
	transition: .2s all ease-in-out;
}

@media only screen and (max-width: 600px) { 
	.simple-payu-form { 
		width: 100%; 
		max-height: 100vh;
		height: 100vh;
	} 
}