.report-container { padding: 40px; }

.user-report-description {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.report-title {
    color: #3282B8;
    font-size: 40px;
    text-align: center;
}

.report-form {
    width: 50%; 
    margin: 0 auto;
    margin-top: 30px;  
}

.test-image-container label {
    display: block;
    padding: 8px 16px;
    background: #3282B8;
    color: #ffffff;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    margin: 6px 0;
    transition: .2s all;
}

.test-image-container label:hover { background: #0F4C75; }

.test-image-container p { 
    font-size: 18px;
    color: #AAAAAA;
    text-align: center;
}

.report-product-id {
    width: 100%;
    padding: 8px 12px;
    border-radius: 40px;
    background: #FFFFFF;
    font-size: 18px;
    text-align: center;
    cursor: not-allowed;
    transition: .2s all ease-in-out;
}

.report-product-id:hover { opacity: .5; }

@media only screen and (max-width: 1100px) { .report-form { width: 60%; } }
@media only screen and (max-width: 800px) { .report-form { width: 80%; } }
@media only screen and (max-width: 600px) { .report-form { width: 100%; } }
@media only screen and (max-width: 450px) { 
    .report-container { padding: 40px 15px; } 
    .report-form { margin-top: 20px; } 
    .report-title { font-size: 28px; }
    .test-image-container label { font-size: 15px; }
}
