.nav-container {
    width: 100%;
    padding: 13px 25px;
    background: #1B262C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    font-size: 28px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Satisfy', cursive;
}


.nav-left {
    display: flex;
    align-items: center;
}

.nav-icons-container {
    margin-left: 24px;
}

.nav-icons {
    color: #FFFFFF;
    font-size: 22px;
    padding: 8px 20px;
    margin: 0 4px;
    border-radius: 8px;
    transition: .1s all ease-in-out;
}

.nav-icons:active {
    background: var(--fifth-color);
}

#search {
    height: 35px;
    border: none;
    outline: none;
    font-size: 16px;
}

#search::placeholder { 
    color: #777; 
    font-weight: 500;
}

#search {
    /*border-radius: 40px 0 0 40px;*/
    border-radius: 40px;
    margin-right: 20px;
    background: #EEEEEE;
    width: 80%;
    padding: 0 16px;
    color: #222831;
    font-weight: 600;
    transition: all .3s;
}

#search:hover { background: #FFFFFF; }
#search:focus { background: #FFFFFF; }

#filter-user { border-radius: 0 40px 40px 0; }

.nav-button-container { 
    display: flex; 
    align-items: center;
}

.nav-button button {
    padding: 0 20px;
    color: #ffffff;
    border-radius: 40px;
    margin:  0 2px;
    cursor: pointer;
    transition: all .3s;
}

#signin { background: #3282B8; }
#signup { background: #0F4C75; }

#signin:hover { background: #0F4C75; }
#signup:hover { background: #0f2749; }

#bars, #icon-search { 
    display: none; 
    font-size: 25px;
    margin: 0 10px;
    color: #FFFFFF;
    transition: .2s all;
}

#account { 
    background: transparent;
    border: none;
    outline: none;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
}

.nav-profile-image {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin: 0 5px;
}

.nav-profile-name { color: #FFFFFF; }

.nav-sidebar-container {
    position: fixed;
    right: 80px;
    top: 65px;
    width: 300px;
    background: #2c373d;
    border-radius: 0 0 5px 5px;
    transition: .2s all ease-in-out;
}

.nav-sidebar { 
    padding: 17px 16px; 
    width: 100%;
}

.nav-sidebar-name {
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
}

.main-nav-sidebar-link {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.main-nav-sidebar-link hr { margin: 10px 0; }

.logout {
    border: none;
    outline: none;
    background: transparent;
    color: #DDDDDD;
    font-size: 20px;
    padding: 2px 6px;
}

.nav-sidebar-link-divider {
    padding: 6px 7px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    transition: .2s all ease-in-out;
}

.nav-sidebar-link-divider:hover { background: #1B262C; }

.nav-sidebar-link-divider i, .fa-chevron-left, #bell, #user-messages, #wallet {
    font-size: 25px;
    color: #FFFFFF;
    margin-right: 3px;
    transition: .2s all;
}

#wallet {
    margin-right: 10px;
}

#bell, #user-messages { 
    cursor: pointer;
    margin: 0 6px;
}

#bell:active, #user-messages:active { transform: scale(1.1); }

.user-span-container { 
    position: relative; 
    margin: 0 2px;
}

.user-count {
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3282B8;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 17px;
    position: absolute;
    top: -12px;
    left: -12px;
    cursor: pointer;
}

.plain-notification-container, .plain-notification-dashboard-container {
    width: 350px;
    max-width: 350px;
    padding: 6px 8px;
    background: #EEEEEE;
    border-radius: 12px;
    position: absolute;
    box-shadow: 0px 6px 12px #555555b4;
    display: none;
}

.plain-notification-container {
    right: 270px;
    top: 45px;
}

.plain-notification-dashboard-container {
    right: 120px;
    top: 60px;
}

.thereAreNoPlainNotification {
    text-align: center;
    color: #888888;
    font-size: 17px;
}

.plain-notification {
    padding: 8px 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s all ease-in-out;
}

.plain-notification:hover { background: #DDDDDD; }

.image-plain-notification-container, .description-plain-notification { 
    margin: 0 8px; 
    position: relative;
}

.image-plain-notification {
    border-radius: 50%;
    width: 46px;
    height: 46px;
}

.nav-user-not-register { padding: 0 12px; }

.notification-type {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #AAAAAA;
    position: absolute;
    bottom: 0;
    right: 0;
}

.notification-view {
    color: #3282B8;
    display: block;
    margin: 10px 0;
    text-align: center;
}

.description-plain-notification h4 {
    font-size: 15px;
    color: #222831;
}

.description-plain-notification p {
    font-size: 14px;
    color: #888888;
}

.auth-successfuly {
    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-search:active { transform: scale(1.1);}
#fa-chevron-left { display: none; }

.nav-sidebar-no-login {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background: #2c373d; 
    padding: 10px;
    transform: translateX(500px);
    transition: .6s all ease-in-out;
}

.nav-sidebar-no-login-active { transform: translateX(0); }

.nav-sidebar-no-login div { margin: 10px 0; }

.nav-sidebar-link {
    margin: 3px 0;
    color: #DDDDDD;
    font-size: 20px;
    padding: 2px 6px;
}

.nav-sidebar-link-comment {
    margin: 2px;
    color: #DDDDDD;
    font-size: 18px;
    padding: 2px 4px;
}

.nav-sidebar-link-comment-container p {
    color: #CCCCCC;
    font-size: 13px;
    padding: 2px 4px;
}

.nav-sidebar-show { display: block; }
.accountFocus { background: #2c373d; }

/* Responsive */

@media only screen and (max-width: 1100px) {
    .plain-notification-container { right: 240px; }
}

@media only screen and (max-width: 800px) {
    .plain-notification-container { right: 220px; }
    .plain-notification-dashboard-container { right: 2px; }
    .nav-button button { padding: 0 15px; }
    #search, .nav-button button { font-size: 13px; }
}

@media only screen and (max-width: 700px) {
    .nav-sidebar-container { right: 20px; }
}

@media only screen and (max-width: 600px) {
    .nav-button button { display: none; }
    .nav-button button, #search {
        height: 50px;
        font-size: 16px;
    }
    #search, #filter-user { border-radius: 0; }
    #bars, #icon-search { display: inline-block; }
    .nav-container { justify-content: space-between; }
    .nav-profile-name { display: none; }
    .nav-sidebar-container {
        right: 0;
        top: 0;
        width: 300px;
        height: 100vh;
        border-radius: 0;
        overflow: auto;
    }
    .nav-title-container { 
        display: flex;
        justify-content: space-between
    }
    .nav-sidebar { padding: 30px 16px; }
    #fa-chevron-left { display: block; }
    .plain-notification-container { 
        right: 100px; 
        top: 70px;
    }
}

@media only screen and (max-width: 500px) { 
    .plain-notification-container, .plain-notification-dashboard-container {
        max-width: 100%;
        width: 100%;
        left: 0; 
        right: 0;
    }
    .plain-notification-container { top: 65px; }
    .plain-notification-dashboard-container { top: 58px; }
}

@media only screen and (max-width: 400px) { 
    .nav-sidebar-no-login, .nav-sidebar-container { width: 100%; } 
}